<!doctype html>
<html ng-app="myApp">
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
    <script src="/lib/angular-1.6.10/angular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js">
    </script>
    <script src="/js/app.js"></script>
  </head>
  <body ng-controller="mainController">
    <div class="split left">
      <div class="centered">
        <button ng-click="submit("Sudhanshu")">Sudhanshu</button><br>
        <button ng-click="submit("Vishal")">Vishal</button><br>
        <button ng-click="submit("Vipul")">Vipul</button><br>
        <button ng-click="submit("Ayush")">Ayush</button><br>
        <button ng-click="submit("Jayesh")">Jayesh</button><br>
        <button ng-click="submit("group")">group</button><br>
      </div>
    </div>
    <div class="split right">
      <div class="bottom">
      You are taking with {{roome}}<br>
      <ul id="messages"></ul>
      <center>
      <div>
        <input id="m" ng-model="message" autocomplete="off" />
        <button id="send" ng-click="send()">Send</button>
      </div>
      </center>
      </div>
    </div>
  </body>
</html>