<!doctype html>
<html ng-app="myApp">
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
    <script src="/lib/angular-1.6.10/angular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js">
    </script>
    <script src="/js/app.js"></script>
  </head>
  <body ng-controller="mainController">
    <div class="split left">
      <div class="centered">
        Who are you?<br>
        <input type="radio" ng-model='room1' ng-value='"Sudhanshu"' name="rdoResult">Sudhanshu</button><br>
        <input type="radio" ng-model='room1' ng-value='"Vishal"' name="rdoResult">Vishal</button><br>
        <input type="radio" ng-model='room1' ng-value='"Vipul"' name="rdoResult">Vipul</button><br>
        <input type="radio" ng-model='room1' ng-value='"Ayush"' name="rdoResult">Ayush</button><br>
        <input type="radio" ng-model='room1' ng-value='"Jayesh"' name="rdoResult">Jayesh</button><br>
        <input type="radio" ng-model='room1' ng-value='"group"' name="rdoResult">group</button><br>
        <button ng-click="submituser(room1)">Submit</button><br>
        Whom do you want to talk to?<br>
        <input type="radio" ng-model='room' ng-value='"Sudhanshu"' name="rdoResult1">Sudhanshu</button><br>
        <input type="radio" ng-model='room' ng-value='"Vishal"' name="rdoResult1">Vishal</button><br>
        <input type="radio" ng-model='room' ng-value='"Vipul"' name="rdoResult1">Vipul</button><br>
        <input type="radio" ng-model='room' ng-value='"Ayush"' name="rdoResult1">Ayush</button><br>
        <input type="radio" ng-model='room' ng-value='"Jayesh"' name="rdoResult1">Jayesh</button><br>
        <input type="radio" ng-model='room' ng-value='"group"' name="rdoResult1">group</button><br>
        <button ng-click="submit(room)">Submit</button><br>
      </div>
    </div>
    <div class="split center">
      <div class="centered">
        Whose tag do you want to see?<br>
        <input type="radio" ng-model='room2' ng-value='"Sudhanshu"' name="rdoResult2">Sudhanshu</button><br>
        <input type="radio" ng-model='room2' ng-value='"Vishal"' name="rdoResult2">Vishal</button><br>
        <input type="radio" ng-model='room2' ng-value='"Vipul"' name="rdoResult2">Vipul</button><br>
        <input type="radio" ng-model='room2' ng-value='"Ayush"' name="rdoResult2">Ayush</button><br>
        <input type="radio" ng-model='room2' ng-value='"Jayesh"' name="rdoResult2">Jayesh</button><br>
        <input type="radio" ng-model='room2' ng-value='"group"' name="rdoResult2">group</button><br>
        <button ng-click="seetags(room2)">Submit1</button><br>
      </div>
    </div>
    <div class="split right">
      <div class="bottom">
      {{You}} is talking with {{roome}}{{test}}
      <button ng-click="increasen()">See Previous</button><br>
      <input type="checkbox" ng-model="love" ng-click="loveit()">I love this mentor<br>
      <div ng-repeat="x in messages">
        <h6 ng-if="x.name == You" style="text-align:right;">{{x.name}}:{{x.msg}}</h6>
        <h6 ng-if="x.name != You" style="text-align:left;">{{x.name}}:{{x.msg}}</h6>
      </div>
      <ul id="messages" ng-model="messages"></ul>

      </div>
            <center>
      <div id="Send">
        <ul id="myUL">
          <li ng-click="TagMe('Sudhanshu')">Sudhanshu</a></li>
          <li ng-click="TagMe('Vishal')">Vishal</a></li>
          <li ng-click="TagMe('Vipul')">Vipul</a></li>
          <li ng-click="TagMe('Ayush')">Ayush</a></li>
          <li ng-click="TagMe('Jayesh')">Jayesh</a></li>
        </ul>
        <form ng-submit="send()"> 
        <input id="m" ng-model="message" autocomplete="off" ng-keyup="searchForTags()" />
      </form>
        <!-- <button id="send" ng-click="send()">Send</button> -->
      </div>
      </center>

    </div>
  </body>
</html>